@font-face {
    font-family: 'Khand-Medium';
    src: url('../font/Khand/Khand-Medium.ttf') format('truetype');
}

* {
    font-family: 'Khand-Medium', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

.nome_titulo {
    box-sizing: border-box;
    color:rgb(255, 255, 255);
    display: block;
    font-size: 14em;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 700;
    height: 70px ;
    letter-spacing: normal ;
    line-height: 70px ;
    max-width: 876px ;
    text-align: center ;
    text-size-adjust: 100% ;
    margin: auto;
    position: absolute;
    top: 0; left: 42%; bottom: 0; right: 50%;
    opacity: 0.78;
}

.imagem_titulo {
    position: absolute;
    width: 12.5rem;
    height: 12.5rem;
    margin: 0 auto;
    right: 32%;
    left: 0;
    bottom: 41%;
    opacity: 0.78;
}

.redes_sociais {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 100%;
    bottom: 1.875rem;
    left: 0;
}

.icone {
    width: 3.75rem;
    height: 3.75rem;
}

.redes_sociais > li {
    list-style: none;
    /* padding: 0 2.5rem; */
}

.versao {
    position: absolute;
    color: white;
    bottom: 0;
    right: 10px;
}
